<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>klvnh</title>
</head>
<body>

    <div id="container" class="font-mono">
        
        <div id="wrap" class="flex justify-center items-center h-screen">
            <img id="profile" class="m-3 rounded-full w-32 h-auto" src="https://whatifgaming.com/wp-content/uploads/2022/01/Tears-pfp.jpg" alt="profile-image">
            <div id="intro" class="m-3 text-xl font-bold underline decoration-4 underline-offset-[8px] sm:text-xl md:text-2xl lg:text-4xl">
                Hello, Im Kelvin.
            </div>  
        </div>

        <div id="about-me" class="bg-black opacity-90 text-white h-screen">
            <h1 class="p-20 text-xl underline decoration-4 underline-offset-[8px] sm:text-xl md:text-2xl lg:text-4xl">About me</h1>
            <div class="flex flex-col justify-center items-center text-left text-xl pl-10 sm:text-xs md:text-xl lg:text-2xl">
                <ul>
                    <li class="pb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat expedita, voluptatem quisquam qui minus molestias sunt? Blanditiis</li>
                    <li class="pb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat expedita, voluptatem quisquam qui minus molestias sunt? Blanditiis</li>
                    <li class="pb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat expedita, voluptatem quisquam qui minus molestias sunt? Blanditiis</li>
                </ul>
            </div>
        </div>

    </div>

</body>
</html>