<html class="scroll-smooth" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/e243a1dc50.js"
            crossorigin="anonymous"
        ></script>
        <script src="../scripts/nightmode.js"></script>
        <script src="../scripts/animation.js"></script>
        <title>klvnh</title>
    </head>
    <body>
        <div id="container" class="font-mono select-none">
            <div id="main" class="flex justify-center items-center h-screen">
                <button
                    id="nightmode"
                    class="text-2xl transition ease-in-out delay-250 hover:opacity-80 duration-700"
                    ><img
                        id="profile"
                        class="m-3 rounded-full w-32 h-auto transition ease-in-out delay-250 hover:opacity-60 duration-700"
                        src="https://cdn.discordapp.com/avatars/675104167345258506/13526c87e31d21c622a7f9f2efa3f8db.png?"
                        alt="profile-image"
                    /></button
                >
                <div
                    id="intro"
                    class="m-3 text-xl sm:text-xl md:text-2xl lg:text-4xl italic font-bold underline decoration-4 underline-offset-[8px] transition ease-in-out delay-250 hover:opacity-60 duration-700"
                >
                    Hello, Im Kelvin.
                </div>
            </div>

            <footer class="p-5 bg-black text-white">
                <div class="flex justify-between">
                    <div
                        class="inline-block text-md sm:text-md md:text-lg lg:text-xl"
                    >
                        <p>
                            Made with love by Kelvin using <a
                                class="underline underline-offset-4 transition ease-in-out delay-250 hover:opacity-60 duration-700"
                                href="https://astro.build/">Astro&#128640;</a
                            > + <a
                                class="underline underline-offset-4 transition ease-in-out delay-250 hover:opacity-60 duration-700"
                                href="https://tailwindcss.com/">Tailwind CSS</a
                            > | Copyright - 2023
                        </p>
                    </div>
                    <div class="flex justify-end text-2xl space-x-6">
                        <a
                            class="text-2xl transition ease-in-out delay-250 hover:opacity-60 duration-700"
                            href="https://github.com/klvnh"
                            ><i class="fa-brands fa-github"></i></a
                        >
                        <a
                            class="text-2xl transition ease-in-out delay-250 hover:opacity-60 duration-700"
                            href="https://instagram.com/klvn.hg"
                            ><i class="fa-brands fa-instagram"></i></a
                        >
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
