body, html {
    background-color: #2a2a2a41;
    margin: 0px;
    padding: 0px;  
}

a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: inline-flex;
    align-items: center;
    padding: 0px;
}

li {
    padding: 20px
}
