html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    margin: 0px;
    padding: 10px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

.intro {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.socials {
    align-content: center;
    padding: 5px;
}
