html, body {
    background-color: #2a2a2a;
    margin: 0px;
    padding: 10px;
}

.box {
    height: 100%;
    display: flex;
}

.intro {
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: inline-block;
}

.embed {
    align-items: flex-end;
}